extends layout

block content
    section(class="scene one")
        header
            h1= title
            p Welcome to #{title}

    section(class="scene two")
        header
            h1 I am
            p A developer

    section(class="scene three")
        header
            h1 Seo Jeong
            p xaveng@gmail.com

