.scene {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.scene.one {
    background-image: url(../images/sydney.jpg);
}

.scene.two {
    background-image: url(../images/munich.jpg);
}

.scene.three {
    background-image: url(../images/danang.jpg);
}

.scene header {
    color: white;
    text-shadow: 3px 3px 1px black;
    max-width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
    text-align: center;
}

.scene header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.scene header h1:after {
    content: '';
    border-bottom: 1px solid white;
    width: 8rem;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}